<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje umiejętności</title>

    <link rel="stylesheet" type="text/css" href="css/skill.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

</head>
<body>
<div class="container">
    <div>
        <h2 class="title">Moje umiejętności</h2>
    </div>
    <div class="text">
        <p>
            Zajmuję się tworzeniem aplikacji na wszystkie urządzenia, od stron internetowych,
            aplikacji backendowych i webowych po aplikacje mobilnych, kładąc szczególny nacisk na funkcjonalność oraz estetykę
            wykonania.
            Dbam zarówno o warstwę interfejsu użytkownika jak i o kod wykonywany po stronie serwera. <br>
            Korzystam z narzędzi takich jak:
        </p>
        <ul>
            <li>Spring - pozwala mi upraszczać oprogramowanie.</li>
            <li>Hibernate - dzięki któremu baza danych tworzona jest automatycznie dla aplikacji.</li>
            <li>GIT - umożliwia mi zapis postępów w pracy i umożliwia szybki powrót w razie zmiany koncepcji.</li>
            <li>JIRA - pomaga mi zarządzać projektami.</li>
            <li>JUnits - pozwala na testowanie kodu wtrakcie jego tworzenia.</li>
            <li>REST API - udostępnia API z którego mogą korzystać inne aplikacje.</li>
            <li>Maven - udostępnia wiele bibliotek które przyśpieszają pracę.</li>
        </ul>
        <p>Odpowiadam również za: </p>
        <ul>
            <li>Projektowanie, wdrażanie i utrzymywanie aplikacji opartych na języku Java</li>
            <li>Tworzenie, testowanie, wdrażanie i utrzymywanie oprogramowania aplikacyjnego</li>
            <li>Rekomendowanie zmian w celu usprawnienia ustalonych procesów aplikacji java</li>
            <li>Zapewnienie niezakłóconego działania strony WWW czy aplikacji.</li>
            <li>Troskę o bezpieczeństwo danych.</li>
            <li>Nadawanie funkcjonalności.</li>
        </ul>
    </div>
</div>
</body>
</html>